.card {
    margin-top: 1em;
}

.card .card-body {
    padding-bottom: 0;
}

.card:hover {
    color: black;
    background-color: #EEEEEE;
}

.user-icon {
    width: 10%;
}

.post-card-title {
    display: inline;
}